.bj-page-main__wrapper {
  display: block;

  max-width: var(--max-width);
  margin: 0 auto;

  padding: var(--indent-double) 0;
}

@media (min-width: 600px) {
  .bj-page-main__wrapper {
    padding: var(--indent-double) var(--indent-base);
  }
}

.bj-page-main__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.bj-page-main__col {
  flex: 1 1 auto;
}

.bj-page-main__aside {
  width: var(--aside-width);
  flex: 0 0 var(--aside-width);

  margin-left: var(--indent-double);

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  display: none;
}

@media (min-width: 700px) {
  .bj-page-main__aside {
    display: flex;
  }
}

.bj-page-main__card {
  margin-top: var(--indent-double);
}

.bj-page-main__card:first-child {
  margin-top: 0;
}


@supports (display: grid) {
  @media (min-width: 1000px) {
    .bj-page-main__card {
      margin-top: 0;
    }

    .bj-page-main__card--wide {
      grid-column-end: span 2;
    }

    .bj-page-main__col--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      grid-column-gap: var(--indent-double);
      grid-row-gap: var(--indent-double);
      grid-auto-flow: dense;
    }
  }

  @media (min-width: 1200px) {
    .bj-page-main__col--grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
