/*
 * ======= HEADER BLOCK =======
 */


/* === Header host element === */
.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  background-color: var(--color-brand);
  color: #fff;
}


/* === Header content wrapper === */
.header-wrapper {
  display: flex;
  flex-wrap: nowrap;

  height: 50px;
}


/* === Header logo === */
.header-logo {
  flex: 0 0 auto;
  padding: 10px 0;
}
.header-logo img {
  max-height: 100%;
  widows: auto;
}
