<h1 mat-dialog-title class="auth-form-title">Authorization</h1>
<form mat-dialog-content class="auth-form" [formGroup]="authForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field class="auth-form-row">
    <input matInput type="text" placeholder="E-mail" formControlName="email">
    <mat-error *ngIf="authForm.controls.email.hasError('email') && !authForm.controls.email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="authForm.controls.email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="auth-form-row">
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="authForm.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="auth-form-row">
    <input matInput type="text" maxlength="6" placeholder="OTP Key" formControlName="totp">
    <mat-hint align="end">{{authForm.controls.totp.value.length}} / 6</mat-hint>
    <mat-error *ngIf="authForm.controls.totp.hasError('required')">
      OTP Key is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <p>Form value: {{ authForm.value | json }}</p>
  <p>Form pristine: {{ authForm.pristine | json }}</p>
</form>
<mat-dialog-actions>
  <button type="submit" mat-button class="auth-form-button" color="primary" [disabled]="authForm.pristine" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
