
/* === Page wrapper === */

.bj-grid {
  display: block;

  max-width: var(--max-width);
  margin: 0 auto;

  padding: var(--indent-double) 0;
}

@media (min-width: 600px) {
  .bj-grid {
    padding: var(--indent-base);
  }
}

@media (min-width: 1200px) {
  .bj-grid {
    padding: var(--indent-base) var(--indent-double);
  }
}


/* === Page row === */

.bj-grid__row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}


/* === Page col === */

.bj-grid__col {
  display: block;
  flex: 1 1 auto;
}

.bj-grid__aside {
  flex: 0 0 300px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-left: var(--indent-double);
}

@media (min-width: 700px) {
  .bj-grid__aside {
   display: flex;
  }
}


.bj-grid__aside > * {
  flex: 0 0 auto;
}

.bj-grid__aside__item--wide {
  flex: 1 1 auto;
}

/* === Page grid === */

.bj-grid__col--grid > * {
  margin-top: var(--indent-double);
}

.bj-grid__col--grid > *:first-child {
  margin-top: 0;
}

@supports (display: grid) {
  @media (min-width: 1000px) {
    .bj-grid__col--grid > * {
      margin-top: 0;
    }

    .bj-grid__col--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      grid-column-gap: var(--indent-double);
      grid-row-gap: var(--indent-double);
      grid-auto-flow: dense;
    }
  }

  @media (min-width: 1200px) {
    .bj-grid__col--grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .bj-grid__col__item--wide {
    grid-column-end: span 2;
  }

}
