:root {
/*
 * Sizes
 */

  --max-width: 1400px;

/*
 * Indents
 */

  --indent-base: 20px;
  --indent-half: calc( var(--indent-base) / 2 );
  --indent-double: calc( var(--indent-base) * 2 );

/*
 * Colors
 */

  --color-main: #24292e;
  --color-hover-light: rgba(255, 255, 255, 0.1);

  --color-gray: #73787e;

}
