:root {
/*
 * Sizes
 */

  --max-width: 1400px;
  --aside-width: 300px;

  --max-article-width: 700px;

/*
 * Indents
 */

  --indent-base: 20px;
  --indent-half: calc( var(--indent-base) / 2 );
  --indent-double: calc( var(--indent-base) * 2 );

/*
 * Colors
 */

  --color-main: #24292e;
  --color-hover-light: rgba(255, 255, 255, 0.1);
  --color-hover-dark: rgba(36, 41, 46, 0.07);

  --color-gray: #73787e;

  --color-up: #093;
  --color-down: #d14836;

  --color-active: #ef6c00;
}
