.article {
  --max-text-width: 700px;
  --padding-size: 20px;
}

.article p {
  display: block;
  position: relative;

  width: 100%;
  max-width: var(--max-text-width);

  font-size: 1rem;
  line-height: 1.5;/* from 1.618*/

  margin: 1em auto;
  padding: 0 var(--padding-size);
}

.article h1,
.article h2,
.article h3 {
  display: block;
  position: relative;

  width: 100%;
  max-width: var(--max-text-width);

  font-size: 1.17em;
  line-height: 1.618;

  margin: 1em auto;
  padding: 0 var(--padding-size);
}

.article h1,
.article h2 {
  text-align: center;
}

.article h1 {
  font-size: 1.5rem;
}

.article h2 {
  font-size: 1.25rem;
}

.article ol,
.article ul {
  display: block;
  position: relative;

  width: 100%;
  max-width: var(--max-text-width);

  font-size: 1rem;
  line-height: 1.5;/* from 1.618*/

  margin: 1em auto;
  padding: 0 var(--padding-size);
}

.article li {
  font-size: 1rem;
  line-height: 1.5;/* from 1.618*/

  margin: 0;
  margin-left: 2rem;
  padding: 0;
}

.article img {
  width: 100%;
  max-width: 100%;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article a {
  color:inherit;
  text-decoration: none;
}

.article a:hover {
  color: #ef6c00;
  text-decoration: underline;
}
