.article {
  --max-text-width: 700px;
  --padding-size: 20px;
}

.article p, .blockquote {
  display: block;
  position: relative;

  width: 100%;
  max-width: var(--max-text-width);

  font-size: 1rem;
  line-height: 1.5;/* from 1.618*/

  margin: 1em auto;
  padding: 0 var(--padding-size);
}

.article h1,
.article h2,
.article h3 {
  display: block;
  position: relative;

  width: 100%;
  max-width: var(--max-text-width);

  font-size: 1.17em;
  line-height: 1.618;

  margin: 1em auto;
  padding: 0 var(--padding-size);
}

.article h1,
.article h2 {
  text-align: center;
}

.article h1 {
  font-size: 1.5rem;
}

.article h2 {
  font-size: 1.25rem;
}

.article ol,
.article ul {
  display: block;
  position: relative;

  width: 100%;
  max-width: var(--max-text-width);

  font-size: 1rem;
  line-height: 1.5;/* from 1.618*/

  margin: 1em auto;
  padding: 0 var(--padding-size);
}

.article li {
  font-size: 1rem;
  line-height: 1.5;/* from 1.618*/

  margin: 0;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.article li > ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article img {
  width: 100%;
  max-width: 100%;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blockquote {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: var(--max-text-width);

  line-height: 1.5rem;
  color:dimgrey;
  text-align: center;
  font-style: italic;

  border-top: 3px solid #ef6c00;

  margin-top: 1.6rem;
  padding-top:1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.blockquote::before {
  position: absolute;
  display: block;

  background-color: white;

  top: 0.05em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 0.12em;

  content: "\275D";
  font-size: 4rem;
  color: #ef6c00;
}

.blockquote-foooter {
  margin-top: 1rem;
}

.blockquote img {
  display: block;

  border-radius: 50%;

  width: 60px;
  height: 60px;

  margin-top: 1rem;
  margin-bottom:0;
}

.blockquote-author {
  color: black;
  font-size: 1.2rem;
  font-style: normal;

  margin-top: 1rem;
}

.blockquote-author-position {
  font-style: normal;
  font-size: 0.9rem;
}

.article a {
  color: #ef6c00;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.bj-article__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
