@import '~@angular/material/theming';

$typography: mat-typography-config(
  $font-family: 'system-ui'
);

@include mat-core($typography);

$primary: mat-palette($mat-orange, 800, 100, 900);
$accent:  mat-palette($mat-light-blue, 600, 100, 900);

$warn:    mat-palette($mat-red, 600, 100, 800);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
