.share {
  display: flex;
  align-items: stretch;
}

.share__item {
  display: flex;
  align-items: center;
  margin-left: 1.3em;
  color: #fff;
  position: relative;
}

.share__item__icon {
  display: block;
}

.share__item__icon svg {
  width: 20px;
  height: 20px;
}

.share__item__icon path {
  fill: currentColor;
}

.share__item span {
  padding: 0 .7em;
}

.share__item--fb { --background-color: #3b5998; }
.share__item--twitter { --background-color: #1ea2f4; }
.share__item--vk { --background-color: #6478a1; }
.share__item--telegram { --background-color: #31afec; }
.share__item--whatsapp { --background-color: #26d365; }
.share__item--viber { --background-color: #8f5db7; }
.share__item--google { --background-color: #dc5144; }
