<h2 class="column-header">Видео</h2>
<div class="bj-video-ribbon__wrapper">
  <a *ngFor="let item of items | async" [href]="item.href" target="_blank" class="bj-video-ribbon__item">
    <figure class="bj-video-ribbon__figure">
      <picture class="bj-video-ribbon__picture">
        <img [src]="item.thumb">
      </picture>
      <figcaption class="bj-video-ribbon__caption bj-video-ribbon__caption--left">{{ item.duration }}</figcaption>
      <figcaption class="bj-video-ribbon__caption bj-video-ribbon__caption--right">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        <span>{{ item.like }}</span>
      </figcaption>
    </figure>
    <time class="bj-video-ribbon__datetime" [attr.datetime]="item.date">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <span>{{ item.date | timestamp:'HR' }}</span>
    </time>
    <h3 class="bj-video-ribbon__title">{{ item.title }}</h3>
  </a>
</div>

