<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ itemForm.value.title || 'Новый пользователь' }}</h1>
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      <span>Назад</span>
    </button>
    <button mat-button (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Сохранить</span>
    </button>
    <button *ngIf="!isNew" mat-button (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-tab-group>

    <mat-tab label="Основное">
      <form mat-dialog-content [formGroup]="itemForm" novalidate>

        <div class="row">

          <div class="col-max">

            <div class="row">

              <mat-form-field class="col">
                <mat-select placeholder="Доступность" formControlName="enable">
                  <mat-option [value]="true">Доступен</mat-option>
                  <mat-option [value]="false">Заблокирован</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="256" placeholder="Ссылка" formControlName="url">
                <mat-hint>На личную страницу</mat-hint>
                <mat-hint align="end">{{ itemForm.controls.url.value.length }} / 256</mat-hint>
                <mat-error *ngIf="itemForm.controls.url.hasError('pattern')">Ссылка содержит недопустимые символы</mat-error>
              </mat-form-field>

              <mat-form-field class="col">
                <mat-select placeholder="Роли" formControlName="roles" multiple>
                  <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="160" placeholder="Имя пользователя" formControlName="title">
                <mat-hint align="end">{{ itemForm.controls.title.value.length }} / 160</mat-hint>
                <mat-error *ngIf="itemForm.controls.title.hasError('required')">Должено быть заполнено</mat-error>
              </mat-form-field>

              <mat-form-field class="col-max">
                <mat-select placeholder="Статусы" formControlName="statuses" multiple>
                  <mat-option *ngFor="let status of statuses" [value]="status.id">{{ status.title }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="email" maxlength="256" placeholder="E-mail" formControlName="email">
                <mat-hint align="end">{{ itemForm.controls.email.value.length }} / 256</mat-hint>
                <mat-error *ngIf="itemForm.controls.email.hasError('required')">Должено быть заполнено</mat-error>
              </mat-form-field>

              <mat-form-field class="col">
                <input matInput type="text" maxlength="18" placeholder="Телефон" formControlName="phone">
                <mat-hint align="end">{{ itemForm.controls.phone.value.length }} / 18</mat-hint>
              </mat-form-field>

            </div>

          </div>

          <div class="col">

            <div class="row">
              <div class="col">
                <h3>Аватар</h3>
                <imup width="200" height="200" formControlName="image"></imup>
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Описание" formControlName="description">
            <mat-hint align="end">{{ itemForm.controls.description.value.length }} / 160</mat-hint>
          </mat-form-field>
        </div>

      </form>
    </mat-tab>

    <mat-tab *ngIf="!isNew" label="Безопасность">
      <div class="row">

          <div class="col-max">

            <form class="row" mat-dialog-content [formGroup]="passwordForm" (ngSubmit)="setPassword()" novalidate>

              <mat-form-field class="col-max">
                <input matInput type="password" placeholder="Пароль" formControlName="password1">
              </mat-form-field>

              <mat-form-field class="col-max">
                <input matInput type="password" placeholder="Еще раз" formControlName="password2">
              </mat-form-field>

              <div class="col">
                <button type="submit" mat-raised-button color="accent" [disabled]="passwordForm.invalid">
                  <span>Задать</span>
                </button>
              </div>

            </form>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="128" placeholder="TOTP Secret" [ngModel]="otpSecret" [ngModelOptions]="{standalone: true}" disabled>
                <mat-icon matSuffix (click)="resetOTP()" class="pointer">refresh</mat-icon>
              </mat-form-field>

            </div>

          </div>

          <div class="col">

            <div class="row">
              <div class="col">
                <canvas #qrCanvas></canvas>
              </div>
            </div>

          </div>

      </div>
    </mat-tab>

    <mat-tab *ngIf="!isNew" label="Карточка">

    </mat-tab>

    <mat-tab *ngIf="!isNew" label="Показатели">
      <div class="row">{{ rating | json }}</div>
    </mat-tab>

    <mat-tab *ngIf="!isNew" label="Комментарии">

    </mat-tab>

    <mat-tab *ngIf="!isNew" label="Статьи">

    </mat-tab>

    <mat-tab *ngIf="!isNew" label="Логи">
      <div class="row">Logging disabled</div>
    </mat-tab>

    <mat-tab *ngIf="DEBUG" label="Отладка">
      <p>{{ itemForm.value | json }}</p>
    </mat-tab>

  </mat-tab-group>
</main>
