<div class="currency-converter_side">
  <span class="currency-converter_side_title">У меня есть:</span>
  <div class="currency-converter_currency_choosing">
    <div class="currency-converter_currency_choosed">
      <img src="currency_img.svg" class="currency-converter_currency_icon">
      <input class="currency-converter_currency_input" type="text">
    </div>
    <div class="currency-converter_currency_choosing_menu">
      <img src="arrow_to_down_black.svg" class="currency-converter_arrow-to-down-black">
    </div>
  </div>
  <div class="currency-converter_input">
    <input class="currency-converter_input_value" type="text">
    <span class="currency-converter_currency_current_rate">1 RUB = 0.00000000001 BTC</span>
  </div>
</div>

<div class="currency-converter_side-changing">
  <img src="changing_money.svg" class="currency-converter-changing_money_picture">
</div>

<div class="currency-converter_side currency-converter_second_side">
  <span class="currency-converter_side_title">Хочу приобрести:</span>
  <div class="currency-converter_currency_choosing">
    <div class="currency-converter_currency_choosed">
      <img src="currency_img.svg" class="currency-converter_currency_icon">
      <input class="currency-converter_currency_input" type="text">
    </div>
    <div class="currency-converter_currency_choosing_menu">
      <img src="arrow_to_down_black.svg" class="currency-converter_arrow-to-down-black">
    </div>
  </div>
  <div class="currency-converter_input">
    <input class="currency-converter_input_value" type="text">
    <span class="currency-converter_currency_current_rate">1 RUB = 0.00000000001 BTC</span>
  </div>
</div>
