<div *ngIf="value" class="bj-article__header">
  <picture class="bj-article__header__picture">
    <img [src]="value.image | image">
  </picture>

  <div *ngIf="value.tags.length > 0" class="bj-article__header__tags">
    <a *ngFor="let tag of value.tags" [routerLink]="['/tags', tag]">#{{ tag }}</a>
  </div>

  <time class="bj-article__header__datetime" [attr.datetime]="value.ts | timestamp">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span>{{ value.ts | timestamp:'HR' }}</span>
  </time>

  <h2 *ngIf="!!value.bigTitle" class="bj-article__header__h2">{{ value.bigTitle }}</h2>
  <h1 class="bj-article__header__h1">{{ value.title }}</h1>

  <div *ngIf="value" class="bj-article__share share" [value]="[value.ts | timestamp:'URL', value.url]"></div>

</div>
<div *ngIf="value" class="bj-article__content article" [innerHTML]="content"></div>
<div *ngIf="value" class="bj-article__footer">
  <div class="bj-article__telegram">
    <a class="bj-article__telegram__link" href="https://t.me/bitjournal_io" target="_blank">Подписывайтесь на новости <span>BitJournal в Telegram</span></a>
  </div>
  <div *ngIf="value" class="bj-article__share share" [value]="[value.ts | timestamp:'URL', value.url]"></div>
</div>

