/*
 * ======= FOOTER BLOCK =======
 */

/* === Footer host element === */
.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  margin-top: auto;
  padding: var(--indent-half) 0;

  background-color: var(--color-brand);
  color: #fff;
}
