<div class="bj-header__row-wrapper bj-header__row-wrapper--dark">
  <div class="bj-header__row">
    <button class="bj-header__button bj-header__button--icon bj-header__button--menu" (click)="navBarVisibility = !navBarVisibility">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <a class="bj-header__logo" routerLink="/">
      <img src="/svg/logo.svg" alt="BitJournal">
    </a>
    <nav class="bj-header__nav" [class.bj-header__nav--show]="navBarVisibility">
      <a class="bj-header__button" routerLink="/" (click)="navBarVisibility = false">
        <span>Лента</span>
      </a>
      <a class="bj-header__button" routerLink="/coins" (click)="navBarVisibility = false">
        <span>Валюты</span>
      </a>
      <a class="bj-header__button" routerLink="/video">
        <span>Видео</span>
      </a>
      <!-- <a class="bj-header__button" routerLink="/events" (click)="navBarVisibility = false">
        <span>Ивенты</span>
      </a>
      <a class="bj-header__button" routerLink="/ico" (click)="navBarVisibility = false">
        <span>ICO</span>
      </a>
      <a class="bj-header__button" routerLink="/exchanges" (click)="navBarVisibility = false">
        <span>Обменники</span>
      </a>
      <a class="bj-header__button" routerLink="/markets" (click)="navBarVisibility = false">
        <span>Биржи</span>
      </a> -->
    </nav>
    <button class="bj-header__button bj-header__button--icon" (click)="showSearch()">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    <!-- <button class="bj-header__button bj-header__button--login">
      <span>Войти</span>
    </button> -->
  </div>
</div>
<div class="bj-header__row-wrapper bj-header__row-wrapper--scroll">
  <div class="bj-header__row bj-header__row--hidden">
    <div class="bj-coins-ribbon"></div>
   <!--  <button class="bj-header-button">
      <span>Конвертер валют</span>
    </button> -->
  </div>
</div>
