<div class="header-wrapper">
  <a class="header-logo" [routerLink]=" ['/'] ">
    <img src="/svg/logo.svg">
  </a>
  <a class="header__nav__item" [routerLink]=" ['/'] ">
    <span>Публикации</span>
  </a>
  <a class="header__nav__item" [routerLink]=" ['/currency'] ">
    <span>Валюты</span>
  </a>
  <a class="header__nav__item" [routerLink]=" ['/exchange'] ">
    <span>Биржи</span>
  </a>
  <a class="header__nav__item" [routerLink]=" ['/exchange'] ">
    <span>Обменники</span>
  </a>
  <a class="header__nav__item" [routerLink]=" ['/exchange'] ">
    <span>Оборудование</span>
  </a>
  <a class="header__nav__item" [routerLink]=" ['/exchange'] ">
    <span>ICO</span>
  </a>
  <!-- <a class="header__nav__item" [routerLink]=" ['/article'] ">
    <span>Статья</span>
  </a> -->
</div>
