<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ itemForm.value.title || 'Новая публикация' }}</h1>
    <button mat-button (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Сохранить</span>
    </button>
    <button *ngIf="!isNew" mat-button (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <form mat-dialog-content [formGroup]="itemForm" novalidate>
    <mat-tab-group>
      <mat-tab label="Основное">
        <div class="m-row">
          <mat-form-field class="m-col-max">
            <input matInput type="text" placeholder="Ссылка" formControlName="url">
            <mat-hint>При сбросе ссылки може пострадать SEO</mat-hint>
            <mat-icon matSuffix (click)="resetUrl()" class="pointer">refresh</mat-icon>
          </mat-form-field>
        </div>
        <div class="m-row">
          <!-- <mat-form-field class="m-col">
            <mat-select placeholder="Вес" formControlName="weight">
              <mat-option *ngFor="let weight of [0,1,2,3]" [value]="weight">{{ weight }}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field class="m-col">
            <mat-select placeholder="Разделы" [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="m-row">
          <mat-form-field class="m-col-max">
            <input matInput type="text" maxlength="160" placeholder="Громкий заголовок" formControlName="bigTitle">
            <mat-hint>Если не заполнено используется "Заголовок"</mat-hint>
            <mat-hint align="end">{{itemForm.controls.bigTitle.value.length}} / 160</mat-hint>
          </mat-form-field>
        </div>
        <div class="m-row">
          <mat-form-field class="m-col-max">
            <input matInput type="text" maxlength="160" placeholder="Заголовок*" formControlName="title">
            <mat-hint align="end">{{itemForm.controls.title.value.length}} / 160</mat-hint>
            <mat-error *ngIf="itemForm.controls.title.hasError('required')">
              Заголовок должен быть заполнен <strong>обязательно</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="m-row">
          <mat-form-field class="m-col-max">
            <input matInput type="text" maxlength="160" placeholder="Описание" formControlName="description">
            <mat-hint>Если не заполнено используется первое предложение контента</mat-hint>
            <mat-hint align="end">{{itemForm.controls.description.value.length}} / 160</mat-hint>
          </mat-form-field>
        </div>
        <div class="m-row">
          <!-- <mat-form-field class="m-col">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                       [removable]="removable" (remove)="remove(fruit)">
                {{fruit.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Теги"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field> -->
        </div>
        <div class="m-row">
          <!-- <mat-form-field class="m-col">
            <mat-select placeholder="Авторы" [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </mat-tab>
      <mat-tab label="Контент">
        <content-editor class="m-col-100"></content-editor>
      </mat-tab>
      <mat-tab label="Шаринг">
        <div class="m-row">
          <mat-form-field class="m-col-max">
            <input matInput type="text" maxlength="160" placeholder="Заголовок для шаринга" formControlName="ogTitle">
            <mat-hint>Виден только при шаринге. Если не заполнено используется "Заголовок"</mat-hint>
            <mat-hint align="end">{{itemForm.controls.ogTitle.value.length}} / 160</mat-hint>
          </mat-form-field>
        </div>
        <div class="m-row">
          <mat-form-field class="m-col-max">
            <input matInput type="text" maxlength="160" placeholder="Описание для шаринга" formControlName="ogDescription">
            <mat-hint>Виден только при шаринге. Если не заполнено используется "Описание"</mat-hint>
            <mat-hint align="end">{{itemForm.controls.ogDescription.value.length}} / 160</mat-hint>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Комментарии">
        <div class="m-row">
          <p>Управление комментариями</p>
        </div>
      </mat-tab>
      <mat-tab label="Брендирование">
        <div class="m-row">
        </div>
      </mat-tab>
      <mat-tab label="Журнал">
        <div class="m-row">
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</main>
