<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Публикации</h1>
    <button mat-button (click)="add()">
      <mat-icon>add</mat-icon>
      <span>Добавить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-form-field class="col-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="ts" matSortDirection="desc" matSortDisableClear>

    <!-- Enabled Column -->
    <ng-container matColumnDef="enable">
      <mat-header-cell *matHeaderCellDef style="max-width:24px"></mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:24px">
        <mat-checkbox [ngModel]="item.enable" (click)="$event.stopPropagation(); toggle(item)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:24px">Вес</mat-header-cell>
      <mat-cell *matCellDef="let element" style="max-width:24px">{{ element.weight }}</mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="ts">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:150px">Дата</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:150px">{{ item.ts | date:'dd.MM.yyyy HH:mm' }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Название</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.title }}</mat-cell>
    </ng-container>

    <!-- View count Column -->
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Просмотры</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>{{ item.view | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- Like count Column -->
    <ng-container matColumnDef="like">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Лайки</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        <span>{{ item.rating.like | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- Dislike count Column -->
    <ng-container matColumnDef="dislike">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Дизлайки</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        <span>{{ item.rating.dislike | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- Rating count Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Рейтинг</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <span>{{ item.rating.value | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="lastModified">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:150px">Отредактирован</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:150px">{{ item.lastModified | date:'dd.MM.yyyy HH:mm' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" class="pointer"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 200]">
  </mat-paginator>
</main>
