<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ itemForm.value.title || 'Новая публикация' }}</h1>
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      <span>Назад</span>
    </button>
    <button mat-button (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Сохранить</span>
    </button>
    <button *ngIf="!isNew" mat-button (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <form mat-dialog-content [formGroup]="itemForm" novalidate>
    <mat-tab-group>

      <mat-tab label="Основное">

        <div class="row">

          <mat-form-field class="col">
            <mat-select placeholder="Доступность" formControlName="enable">
              <mat-option [value]="true">Доступена</mat-option>
              <mat-option [value]="false">Скрыта</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput [matDatepicker]="tsPicker" placeholder="Дата и время" formControlName="ts">
            <mat-datepicker-toggle matSuffix [for]="tsPicker"></mat-datepicker-toggle>
            <mat-datepicker #tsPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col">
            <mat-select placeholder="Вес" formControlName="weight">
              <mat-option [value]="0">0</mat-option>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col">
            <mat-select placeholder="RSS" formControlName="rss">
              <mat-option [value]="true">Отдавать</mat-option>
              <mat-option [value]="false">Скрывать</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <input matInput type="text" placeholder="Ссылка" formControlName="url">
            <mat-hint>При сбросе ссылки може пострадать SEO</mat-hint>
            <mat-icon matSuffix (click)="resetUrl()" class="pointer">refresh</mat-icon>
          </mat-form-field>

        </div>

        <div class="row">

          <div class="col-max">

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="160" placeholder="Громкий заголовок" formControlName="bigTitle">
                <mat-hint>Если не заполнено используется "Заголовок"</mat-hint>
                <mat-hint align="end">{{ itemForm.controls.bigTitle.value.length }} / 160</mat-hint>
              </mat-form-field>

            </div>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="160" placeholder="Заголовок" formControlName="title">
                <mat-hint align="end">{{ itemForm.controls.title.value.length }} / 160</mat-hint>
                <mat-error *ngIf="itemForm.controls.title.hasError('required')">Должен быть заполнен</mat-error>
              </mat-form-field>

            </div>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="160" placeholder="Описание" formControlName="description">
                <mat-hint align="end">{{ itemForm.controls.description.value.length }} / 160</mat-hint>
              </mat-form-field>

            </div>

          </div>

          <div class="col">

            <div class="row">
              <div class="col">
                <h3>Картинка</h3>
                <imup width="380" height="200" formControlName="image"></imup>
              </div>
            </div>

          </div>

        </div>

        <div class="row">

          <tags formControlName="tags" class="col-max"></tags>

        </div>

      </mat-tab>

      <mat-tab label="Привязки">

        <div class="row">

          <mat-form-field class="col-max">
            <mat-select placeholder="Разделы" formControlName="sections" multiple>
              <mat-option *ngFor="let section of sections" [value]="section.id">{{ section.title }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <mat-select placeholder="Валюты" formControlName="currencies" multiple>
              <mat-option *ngFor="let currency of currencies" [value]="currency.symbol">{{ currency.title }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <mat-select placeholder="Обменники" formControlName="exchanges" multiple>
              <mat-option *ngFor="let exchange of exchanges" [value]="exchange.id">{{ exchange.title }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <mat-select placeholder="ICO" formControlName="ico" multiple>
              <mat-option *ngFor="let oneico of ico" [value]="oneico.id">{{ oneico.title }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <mat-select placeholder="Биржи" formControlName="markets" multiple>
              <mat-option *ngFor="let market of markets" [value]="market.id">{{ market.title }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <mat-select placeholder="Авторы" formControlName="authors" multiple>
              <mat-option *ngFor="let author of authors" [value]="author.id">{{ author.title }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </mat-tab>

      <mat-tab label="Контент">
        <editor class="col-100"></editor>
      </mat-tab>

      <mat-tab label="Шаринг">

        <div class="row">

          <div class="col-max">

            <div class="row">

              <mat-form-field class="col">
                <mat-select placeholder="Шаринг" formControlName="sharing">
                  <mat-option [value]="true">Разрешон</mat-option>
                  <mat-option [value]="false">Запрещен</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="160" placeholder="Заголовок для шаринга" formControlName="ogTitle">
                <mat-hint>Виден только при шаринге. Если не заполнено используется "Заголовок"</mat-hint>
                <mat-hint align="end">{{ itemForm.controls.ogTitle.value.length }} / 160</mat-hint>
              </mat-form-field>

            </div>

            <div class="row">

              <mat-form-field class="col-max">
                <input matInput type="text" maxlength="160" placeholder="Описание для шаринга" formControlName="ogDescription">
                <mat-hint>Виден только при шаринге. Если не заполнено используется "Описание"</mat-hint>
                <mat-hint align="end">{{ itemForm.controls.ogDescription.value.length }} / 160</mat-hint>
              </mat-form-field>

            </div>

          </div>

          <div class="col">

            <div class="row">
              <div class="col">
                <h3>Картинка для шаринга</h3>
                <imup width="380" height="200" formControlName="ogImage"></imup>
              </div>
            </div>

          </div>

        </div>
      </mat-tab>

      <mat-tab label="Брендирование">

        <mat-form-field class="col">
          <mat-select placeholder="Показывать рекламу" formControlName="ads">
            <mat-option [value]="true">Показывать</mat-option>
            <mat-option [value]="false">Скрывать</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-tab>

      <mat-tab label="Комментарии">

        <mat-form-field class="col">
          <mat-select placeholder="Комментарии" formControlName="comments">
            <mat-option [value]="true">Разрешены</mat-option>
            <mat-option [value]="false">Запрещены</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-tab>

      <mat-tab *ngIf="!isNew" label="Показатели">
        <div class="row">{{ rating | json }}</div>
      </mat-tab>

      <mat-tab *ngIf="!isNew" label="Логи">
        <div class="row">Logging disabled</div>
      </mat-tab>

      <mat-tab *ngIf="DEBUG" label="Отладка">
        <p>{{ itemForm.value | json }}</p>
      </mat-tab>
    </mat-tab-group>
  </form>
</main>
