<!-- Title currency data -->
<div class="currency-card__title">
  <svg class="currency-card__title__icon">

  </svg>
  <h1 class="currency-card__title__h1">Bitcoin</h1>
  <h2 class="currency-card__title__h2">BTC</h2>
</div>

<!-- Average marcet price -->
<div class="currency-card__price">
  <div class="currency-card__price__item">
    <span class="currency-card__price__value">$ 5 771.69</span>
    <span class="currency-card__price__shift currency-card__price__shift--up">2.79%</span>
  </div>
  <div class="currency-card__price__item">
    <span class="currency-card__price__value">₽ 332 467.31</span>
    <span class="currency-card__price__shift currency-card__price__shift--up">2.77%</span>
  </div>
  <div class="currency-card__price__item">
    <span class="currency-card__price__value">Ƀ 5 771.69</span>
    <span class="currency-card__price__shift">0.00%</span>
  </div>
</div>

<div #chart class="currency-card__chart" style="height: 400px;">

</div>

<!-- Summary marcet price -->
<div class="currency-card__summary">
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">Капитализация</h3>
    <span class="currency-card__summary__value">$ 96 086 229 367</span>
    <span class="currency-card__summary__value">₽ 6 245 604 908 855</span>
    <span class="currency-card__summary__value">Ƀ 16 647 850</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">Текущий объем</h3>
    <span class="currency-card__summary__value">16 647 850</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">Максимальный объем</h3>
    <span class="currency-card__summary__value">21 000 000</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">Объем торгов (24h)</h3>
    <span class="currency-card__summary__value">$ 1 698 960 000</span>
    <span class="currency-card__summary__value">₽ 110 432 400 000</span>
    <span class="currency-card__summary__value">Ƀ 295 021</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">1h</h3>
    <span class="currency-card__summary__value">1.68 %</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">24h</h3>
    <span class="currency-card__summary__value">5.62 %</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">7d</h3>
    <span class="currency-card__summary__value">3.41 %</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">1y</h3>
    <span class="currency-card__summary__value">100.1 %</span>
  </div>
  <div class="currency-card__summary__item">
    <h3 class="currency-card__summary__h1">Сложность сети</h3>
    <span class="currency-card__summary__value">1 196 792 694 099 GH/s</span>
  </div>
</div>
