
main {
  box-sizing: border-box;
  position: relative;

  max-width: 1200px;

  margin: 0 auto;
  padding: 1rem;
}

.row {
  margin-top: 1rem;
  display: flex;
}

.col {
  flex: 0 0 auto;
}

.col-max {
  flex: 1 1 auto;
}

.col-100 {
  width: 100%;
  flex: 0 0 100%;
}

i.fa {
  margin-right: .5em
}
