<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Ивенты</h1>
    <button mat-button (click)="add()">
      <mat-icon>add</mat-icon>
      <span>Добавить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-form-field class="col-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="title" matSortDirection="desc" matSortDisableClear>

    <!-- Enabled Column -->
    <ng-container matColumnDef="enable">
      <mat-header-cell *matHeaderCellDef style="max-width:24px"></mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:24px">
        <mat-checkbox [ngModel]="item.enable" (click)="$event.stopPropagation(); toggle(item)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Logo Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef style="max-width:40px">Лого</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:40px">
        <img class="event-list-logo" [src]="item.image | image">
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Название</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.title }}</mat-cell>
    </ng-container>

    <!-- Like count Column -->
    <ng-container matColumnDef="like">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Лайки</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        <span>{{ item.rating.like | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- Dislike count Column -->
    <ng-container matColumnDef="dislike">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Дизлайки</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        <span>{{ item.rating.dislike | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- Rating count Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">Рейтинг</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <span>{{ item.rating.value | number:'1.0-0' }}</span>
      </mat-cell>
    </ng-container>

    <!-- BJR Column -->
    <ng-container matColumnDef="bjr">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:90px">BJR</mat-header-cell>
      <mat-cell *matCellDef="let item" style="max-width:90px">
        <span>{{ item.bjr | number:'1.1-2' }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" class="pointer"></mat-row>
  </mat-table>
</main>
