.bj-footer {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;

  padding: 0 0 var(--indent-base) 0;

  background: var(--color-main);
  color: #fff;
}


/* === Logo === */

.bj-footer__logo {
  display: block;
  position: absolute;
  overflow: hidden;

  left: -100px;
  top: -100px;

  height: 200px;
  width: 200px;

  background: var(--color-main);
  border: 3px solid #fff;
  border-radius: 50%;

  z-index: 800;

  cursor: pointer;
}

.bj-footer__logo img {
  display: block;
  position: absolute;

  top: 119px;
  left: 107px;

  height: 38px;
  width: auto;
}


/* === Navigation === */

.bj-footer__nav {
  margin: 0 auto;
  max-width: var(--max-width);

  padding: var(--indent-base) var(--indent-base) var(--indent-base) calc(100px + var(--indent-base));

  min-height: 100px;

  display: block;
}

@media (min-width: 1200px) {
  .bj-footer__nav {
    padding: var(--indent-base) var(--indent-double) var(--indent-base) calc(100px + var(--indent-double));
  }
}

.bj-footer__nav__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.bj-footer__nav__item {

  margin: 0 0 .5em 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: .1em;

  text-transform: none;
  text-decoration: none;

  font-family: inherit;
  font-size: 100%;
  font-style: normal;

  color: inherit;

  white-space: nowrap;
}

.bj-footer__nav__item:first-child {
  margin-left: 0;
}

.bj-footer__nav__item--donate {
  color: #ef6c00;
  border-bottom-color: #ef6c00;
}


/* === Central row === */

.bj-footer__row {
  margin: var(--indent-base) auto 0;
  max-width: var(--max-width);

  padding: 0 var(--indent-base);

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media (min-width: 1200px) {
  .bj-footer__row {
    padding: 0 var(--indent-double);
  }
}

.bj-footer__col {
  order: 1;
  flex: 0 0 auto;
  margin-left: var(--indent-base);
}

.bj-footer__col:first-child {
  flex: 1 1 auto;
  margin-left: 0;
}

@media (min-width: 1200px) {
  .bj-footer__col:first-child {
    order: 2;
    flex-basis: 100%;
  }
}

.bj-footer__col p {
  padding: 0 var(--indent-base) 0 0;
  margin: 0 0 var(--indent-half) 0;

  line-height: 1.4;
}


/* === Bottom navigation  === */

.bj-footer__bottom-nav {
  display: flex;
  align-items: flex-start;;
  margin-bottom: .5em;
}

.bj-footer__bottom-nav a {
  text-transform: none;
  text-decoration: none;

  font-family: inherit;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;

  color: inherit;

  white-space: nowrap;

  border-bottom: 1px solid #fff;
  padding-bottom: .1em;
}

.bj-footer__bottom-nav span {
  margin: 0 1em;
}

.bj-footer__copyright {
  font-size: 12px;
  font-weight: 300;

  white-space: nowrap;

  margin: 0 0 .5em auto;
  padding-left: var(--indent-base);
}
