<nav class="bj-footer__nav">
  <div class="bj-footer__nav__row">
    <a class="bj-footer__nav__item" routerLink="/">
      <span>Лента</span>
    </a>
    <!-- <a class="bj-footer__nav__item" routerLink="/events">
      <span>Ивенты</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/ico">
      <span>ICO</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/101">
      <span>Новичкам</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/currencies">
      <span>Валюты</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/exchanges">
      <span>Обменники</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/markets">
      <span>Биржи</span>
    </a> -->
  </div>
  <div class="bj-footer__nav__row">
    <a class="bj-footer__nav__item" routerLink="/about">
      <span>О проекте</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/staff">
      <span>Редакция</span>
    </a>
    <a class="bj-footer__nav__item" routerLink="/ads">
      <span>Реклама</span>
    </a>
    <a class="bj-footer__nav__item bj-footer__nav__item--donate" routerLink="/donate">
      <span>Поддержать</span>
    </a>
  </div>
</nav>

<div class="bj-footer__row">

  <div class="bj-footer__col bj-footer__col--widgets">
    <!-- VK Widget -->
    <div class="bj-footer__col__widget">
      <div id="vk_group_vidget"></div>
    </div>
  </div>

  <div class="bj-footer__col bj-footer__col--widgets">
    <!-- Facebook Widget -->
    <div class="bj-footer__col__widget">
      <div class="fb-page" data-href="https://www.facebook.com/bitjournalOfficial/" data-width="200" data-height="160" data-small-header="false" data-adapt-container-width="false" data-show-facepile="false" data-hide-cover="true"><blockquote cite="https://www.facebook.com/bitjournalOfficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bitjournalOfficial/">BitJournal</a></blockquote></div>
    </div>
  </div>

  <div class="bj-footer__col bj-footer__col--widgets">
    <!-- Telegram Button -->
    <div class="bj-footer__col__widget">
      <a class="bj-footer__telegram" href="https://t.me/bitjournal_io" target="_blank">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path d="M.4 11.6l5.6 2 2 7c.2.3.8.5 1 .2l3.2-2.5c.3-.3.8-.3 1 0l5.7 4c.3.3.8 0 1-.4l4-19.7c0-.5-.4-1-1-.7L.5 10.4c-.5.2-.5 1 0 1.2zm7.3 1l10.8-6.8c.3 0 .5.2.3.4l-9 8.3-.5 1L9 18c0 .3-.5.3-.5 0l-1.2-4c-.2-.5 0-1 .4-1.3z"></path>
        </svg>
        <span>BitJournal в Телеграм</span>
      </a>
    </div>

    <!-- YouTube Widget -->
    <div class="bj-footer__col__widget">
      <div class="g-ytsubscribe" data-channelid="UCeOLUeYNcYDos1wcTJVLGlw" data-layout="default" data-theme="dark" data-count="default"></div>
    </div>

    <!-- Twitter Widget -->
    <div class="bj-footer__col__widget">
      <a href="https://twitter.com/bitjournal_io" class="twitter-follow-button" data-size="large" data-show-count="false" target="_blank">Follow @bitjournal_io</a>
    </div>
  </div>

  <div class="bj-footer__col">
    <p>Все ссылки предоставляются исключительно для справочных целей.</p>
    <p>BitJournal не несет ответственности за содержимое внешних интернет-сайтов.</p>
    <p>При использовании материалов сайта ссылка обязательна.</p>
  </div>
</div>

<div class="bj-footer__bottom">
  <a href="/rss">RSS</a>
  <span>|</span>
  <a href="/api">API</a>
  <span>|</span>
  <a routerLink="/privacy">Политика конфиденциальности</a>
  <div class="bj-footer__bottom__copyright">
    <span>Copyright &copy; 2017 BitJournal</span>
  </div>
</div>

<a class="bj-footer__logo" routerLink="/">
  <img src="/svg/logo.svg" alt="BitJournal">
</a>
