.bj-footer {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;

  padding: 0 0 var(--indent-double) 0;

  background: var(--color-main);
  color: #fff;
}


/* === Logo === */

.bj-footer__logo {
  display: block;
  position: absolute;
  overflow: hidden;

  left: -100px;
  top: -100px;

  height: 200px;
  width: 200px;

  background: var(--color-main);
  border: 3px solid #fff;
  border-radius: 50%;

  z-index: 800;

  cursor: pointer;
}

.bj-footer__logo img {
  display: block;
  position: absolute;

  top: 119px;
  left: 107px;

  height: 38px;
  width: auto;
}


/* === Navigation === */

.bj-footer__nav {
  margin: 0 auto;
  max-width: var(--max-width);

  padding: var(--indent-base) var(--indent-base) var(--indent-base) calc(100px + var(--indent-base));

  min-height: 100px;

  display: block;
}

@media (min-width: 1200px) {
  .bj-footer__nav {
    padding: var(--indent-base) var(--indent-double) var(--indent-base) calc(100px + var(--indent-double));
  }
}

.bj-footer__nav__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.bj-footer__nav__item {

  margin: 0 0 1em 1em;
  border-bottom: 1px solid #fff;
  padding-bottom: .1em;

  text-transform: none;
  text-decoration: none;

  font-family: inherit;
  font-size: 100%;
  font-style: normal;

  color: inherit;

  white-space: nowrap;
}

.bj-footer__nav__item:first-child {
  margin-left: 0;
}

.bj-footer__nav__item--donate {
  color: #ef6c00;
  border-bottom-color: #ef6c00;
}


/* === Central row === */

.bj-footer__row {
  margin-top: 0 auto;
  max-width: var(--max-width);

  padding: 0 var(--indent-half);

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1000px) {
  .bj-footer__row {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .bj-footer__row {
    padding: 0 0 0 calc( var(--indent-double) + var(--indent-half) );
  }
}

.bj-footer__col {
  order: 2;
  width: 200px;
  flex: 0 0 200px;

  margin: var(--indent-half);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bj-footer__col:last-child {
  width: auto;
  flex: 1 1 auto;
  text-align: center;

  margin-top: calc( var(--indent-base) + var(--indent-half) );
}

@media (min-width: 1000px) {
  .bj-footer__col:last-child {
    order: 1;
    margin-top: var(--indent-half);
    margin-right: auto;
    text-align: left;
  }
}

.bj-footer__col > p {
  padding: 0 var(--indent-base) 0 0;
  margin: 0 0 var(--indent-half) 0;
  line-height: 1.4;
  font-size: 14px;
}

.bj-footer__col__widget {
  width: 100%;

  overflow: hidden;
  border-radius: 3px;

  display: flex;
  justify-content: flex-start;
}

.bj-footer__col__widget + .bj-footer__col__widget {
  margin-top: var(--indent-base);
}


/* === Bottom line  === */

.bj-footer__bottom {
  margin: 0 auto;
  max-width: var(--max-width);

  padding: 0 var(--indent-base);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1200px) {
  .bj-footer__bottom {
    padding: 0 var(--indent-double);
  }
}

.bj-footer__bottom a {
  text-transform: none;
  text-decoration: none;

  font-family: inherit;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;

  color: inherit;

  white-space: nowrap;

  border-bottom: 1px solid #fff;
  padding-bottom: .1em;

  margin-top: var(--indent-base);
}

.bj-footer__bottom span {
  margin: var(--indent-base) 1em 0 1em;
}

.bj-footer__bottom__copyright {
  font-size: 12px;
  font-weight: 300;

  white-space: nowrap;

  margin: var(--indent-base) 0 0 0;
  flex: 0 0 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .bj-footer__bottom__copyright {
    flex-basis: auto;
    margin-left: auto;
  }
}

/* === Telegram button === */
.bj-footer__telegram {
  height: 28px;

  padding: 0 .7em;

  text-decoration: none;
  text-transform: none;

  font-size: 13px;
  font-weight: 500;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: inherit;
  background: #0088cc;

  border-radius: 3px;
}

.bj-footer__telegram svg {
  width: 18px;
  height: 18px;
  margin-right: .7em;
}

.bj-footer__telegram path {
  fill: currentColor;
}
