.bj-pub-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  max-width: 100%;

  text-decoration: none;
  text-transform: none;
  color: var(--color-main);

  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  padding-bottom: var(--indent-base);
}

.bj-pub-card__figure {
  flex: 0 0 100%;
  width: 100%;
  min-height: calc( 100vw / 1.5 );
  position: relative;

  margin: 0;
  padding: 0;

  background: #f6f6f6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .bj-pub-card__figure {
    min-height: 250px;
  }
}

.bj-pub-card__picture {
  display: block;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: #f9f9f9;
}

.bj-pub-card__picture img {
  display: block;
  box-sizing: border-box;

  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;

  transition: transform .5s linear;

  object-fit: cover;
}

.bj-pub-card:hover .bj-pub-card__picture img {
  transform: translate(-50%, -50%) scale(1.05);
}

.bj-pub-card__picture:after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, rgba(36,41,46,0) 0%, rgba(36,41,46,.1) 34%, rgba(36,41,46,.7) 100%);
}

.bj-pub-card__row {
  display: block;
  box-sizing: border-box;
  position: relative;

  width: 100%;

  padding: var(--indent-base) 0;
}


.bj-pub-card__h2 {
  display: block;
  box-sizing: border-box;

  padding: 0 var(--indent-base);
  margin: 0;

  margin-bottom: -.1em;

  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.35;

  color: #fff;
  text-shadow: 0 0 2px rgba(36,41,46,.7);
}


.bj-pub-card__h1 {
  display: block;
  box-sizing: border-box;

  flex: 0 0 100%;
  width: 100%;

  padding: 0 var(--indent-base);
  margin: 0;
  margin-top: 8px;

  font-family: inherit;
  font-size: 1.17rem;
  line-height: 1.4;
}

.bj-pub-card__datetime {
  display: block;
  box-sizing: border-box;

  padding: 0 var(--indent-base);
  margin-top: var(--indent-base);

  color: var(--color-gray);
  font-size: 13px;
}

.bj-pub-card__datetime i {
  margin-right: .5em;
}

.bj-pub-card__tags {
  font-size: 12px;
  line-height: 1.2;
  margin-top: var(--indent-base);
  color: var(--color-gray);
}
