<figure class="bj-pub-card__figure">
  <picture class="bj-pub-card__picture">
    <img [src]="value.image | image">
  </picture>
  <figcaption class="bj-pub-card__row">
  </figcaption>
  <figcaption *ngIf="!!value.bigTitle" class="bj-pub-card__row bj-pub-card__row--dark">
    <h2 class="bj-pub-card__h2">{{ value.bigTitle }}</h2>
  </figcaption>
</figure>
<time class="bj-pub-card__datetime" [attr.datetime]="value.ts | timestamp">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <span>{{ value.ts | timestamp:'HR' }}</span>
</time>
<h1 class="bj-pub-card__h1">{{ value.title }}</h1>
<!-- <div *ngIf="value.tags.length > 0" class="bj-pub-card__tags">
  <span *ngFor="let tag of value.tags">#{{ tag }}</span>
</div> -->
