.bj-pub-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  max-width: 100%;

  text-decoration: none;
  text-transform: none;
  color: var(--color-main);
}

.bj-pub-card + .bj-pub-card {
  margin-top: var(--indent-double);
}

@supports (display: grid) {
  @media (min-width: 700px) {
    .bj-pub-card + .bj-pub-card {
      margin-top: 0px;
    }
  }
}


.bj-pub-card__figure {
  flex: 0 0 100%;
  width: 100%;
  min-height: calc( 100vw / 1.5 );
  position: relative;

  margin: 0;
  padding: 0;

  background: #f6f6f6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .bj-pub-card__figure {
    min-height: 320px;
  }
}

.bj-pub-card__picture {
  display: block;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bj-pub-card__picture img {
  display: block;
  box-sizing: border-box;

  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  object-fit: cover;
}

.bj-pub-card__row {
  display: block;
  box-sizing: border-box;
  position: relative;

  width: 100%;

  padding: var(--indent-base) 0;
}

.bj-pub-card__row--dark {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0.7) 100%);
  padding-top: var(--indent-double);
}


.bj-pub-card__h2 {
  display: block;
  box-sizing: border-box;

  padding: 0 var(--indent-base);
  margin: 0;

  margin-bottom: -.1em;

  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.35;

  color: #fff;
  text-shadow: 0 0 13px rgba(0,0,0,.7);
}


.bj-pub-card__h1 {
  display: block;
  box-sizing: border-box;

  flex: 0 0 100%;
  width: 100%;

  padding: 0 var(--indent-base);
  margin: 0;
  margin-top: var(--indent-half);

  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1.35;
}

.bj-pub-card__datetime {
  display: block;
  box-sizing: border-box;

  padding: 0 var(--indent-base);
  margin-top: var(--indent-base);
}
