.bj-page-privacy__wrapper {
  display: block;

  max-width: var(--max-width);
  margin: 0 auto;

  padding: var(--indent-double) 0;
}

@media (min-width: 600px) {
  .bj-page-privacy__wrapper {
    padding: var(--indent-double) var(--indent-base);
  }
}

@media (min-width: 1200px) {
  .bj-page-privacy__wrapper {
    padding: var(--indent-double);
  }
}

.bj-page-privacy__content {
  display: block;
  width: 100%;

  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  padding: var(--indent-double) 0;
}

.bj-page-privacy__content__h1 {
  font-size: 1.5rem;
}
