<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ itemForm.value.title || 'Новая валюта' }}<span *ngIf="!isNew">{{ itemForm.value.symbol }}</span></h1>
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      <span>Назад</span>
    </button>
    <button mat-button (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Сохранить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <form mat-dialog-content [formGroup]="itemForm" novalidate>
    <mat-tab-group>

      <mat-tab label="Основное">

        <div class="row">

          <mat-form-field class="col">
            <mat-select placeholder="Доступность" formControlName="enable">
              <mat-option [value]="true">Доступна</mat-option>
              <mat-option [value]="false">Скрыта</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput type="text" placeholder="Бирживой символ" formControlName="symbol">
          </mat-form-field>

          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Название" formControlName="title">
            <mat-hint align="end">{{ itemForm.controls.title.value.length }} / 160</mat-hint>
            <mat-error *ngIf="itemForm.controls.title.hasError('required')">Должено быть заполнено</mat-error>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col">
            <input matInput [matDatepicker]="startDatePicker" placeholder="Дата основания" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-max">
            <input matInput type="text" placeholder="Основатель" formControlName="founder">
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput type="text" placeholder="Алгоритм" formControlName="algorithm">
          </mat-form-field>

          <mat-form-field class="col-max">
            <input matInput type="text" placeholder="Система генерации" formControlName="proofType">
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput type="number" placeholder="Всего монет" formControlName="maxSupply">
            <mat-error *ngIf="itemForm.controls.maxSupply.hasError('min')">Должено быть положительным</mat-error>
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput type="number" placeholder="Награда за блок" formControlName="blockReward">
            <mat-error *ngIf="itemForm.controls.blockReward.hasError('min')">Должено быть положительным</mat-error>
          </mat-form-field>

        </div>

        <div class="row">
          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="256" placeholder="Ссылка на сайт" formControlName="url">
            <mat-hint>Указывайте полную ссылку</mat-hint>
            <mat-hint align="end">{{ itemForm.controls.url.value.length }} / 256</mat-hint>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Краткое описание" formControlName="description">
            <mat-hint align="end">{{ itemForm.controls.description.value.length }} / 160</mat-hint>
          </mat-form-field>
        </div>

      </mat-tab>

      <mat-tab label="Шаринг">

        <div class="row">
          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Заголовок для шаринга" formControlName="ogTitle">
            <mat-hint>Виден только при шаринге. Если не заполнено используется "Заголовок"</mat-hint>
            <mat-hint align="end">{{ itemForm.controls.ogTitle.value.length }} / 160</mat-hint>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Описание для шаринга" formControlName="ogDescription">
            <mat-hint>Виден только при шаринге. Если не заполнено используется "Описание"</mat-hint>
            <mat-hint align="end">{{ itemForm.controls.ogDescription.value.length }} / 160</mat-hint>
          </mat-form-field>
        </div>

      </mat-tab>

      <mat-tab *ngIf="!isNew" label="Статьи">

      </mat-tab>

      <mat-tab *ngIf="!isNew" label="Брендирование">
        <div class="row">Under construction</div>
      </mat-tab>

      <mat-tab *ngIf="DEBUG" label="Отладка">
        <p>{{ itemForm.value | json }}</p>
      </mat-tab>

    </mat-tab-group>
  </form>
</main>
