<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ itemForm.value.title || 'Новая рекламная компания' }}</h1>
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      <span>Назад</span>
    </button>
    <button mat-button (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Сохранить</span>
    </button>
    <button *ngIf="!isNew" mat-button (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <form mat-dialog-content [formGroup]="itemForm" novalidate>
    <mat-tab-group>
      <mat-tab label="Основное">

        <div class="row">

          <mat-form-field class="col">
            <mat-select placeholder="Доступность" formControlName="enable">
              <mat-option [value]="true">Доступена</mat-option>
              <mat-option [value]="false">Скрыта</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col">
            <mat-select placeholder="Блоки" formControlName="blocks" multiple>
              <mat-option *ngFor="let block of blocks" [value]="block">{{ block }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Название" formControlName="title">
            <mat-hint align="end">{{ itemForm.controls.title.value.length }} / 160</mat-hint>
            <mat-error *ngIf="itemForm.controls.title.hasError('required')">Должено быть заполнено</mat-error>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col">
            <input matInput [matDatepicker]="startDatePicker" placeholder="Дата начала" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col">
            <input matInput [matDatepicker]="endDatePicker" placeholder="Дата окончания" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="256" placeholder="Ссылка" formControlName="url">
            <mat-hint>Указывайте полную ссылку</mat-hint>
            <mat-hint align="end">{{ itemForm.controls.url.value.length }} / 256</mat-hint>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="col-max">
            <input matInput type="text" maxlength="160" placeholder="Описание" formControlName="description">
            <mat-hint align="end">{{ itemForm.controls.description.value.length }} / 160</mat-hint>
          </mat-form-field>

        </div>

      </mat-tab>

      <mat-tab label="Баннер">
        <div class="row">

          <mat-form-field class="col-max">
            <textarea matInput rows="20" placeholder="Контент" formControlName="content"></textarea>
          </mat-form-field>

          <dir class="col">
            <h4>Файлы</h4>
          </dir>
        </div>
      </mat-tab>

      <mat-tab *ngIf="!isNew" label="Статистика">
        <div class="row">{{ stats | json }}</div>
      </mat-tab>

      <mat-tab *ngIf="DEBUG" label="Отладка">
        <p>{{ itemForm.value | json }}</p>
      </mat-tab>
    </mat-tab-group>
  </form>
</main>
